body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}
button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
}
#status {
    margin-top: 1rem;
    font-weight: bold;
}   
.goal-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.goal-checkbox {
    margin-right: 10px;
    margin-left: 10px;
}

#goalsDisplay{
    margin-top: 2rem; /* Added margin to top of goals display */
    margin-left: 5rem; /* Added margin to left of goals display */
    text-align: left; /* Align text to the left for readability */
    width: 50%; /* Ensure it takes the full width */
    max-width: 600px; /* Limit the maximum width */
}

#goalsText {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}